body{	
	background-image:url("https://YutingWang.github.io/MyGame/pic/background3.jpeg");
	background-position:top;
	background-size:100% auto;
  	background-position:top left;
  	background-repeat:repeat-y;
}

table, td, tr{
	empty-cells: show;
	 border-collapse:collapse;
}
td{
	width:33px;
	height:33px;
	border-color: black;
	border-width: 1px;
	border-style: dashed;
	background-repeat:no-repeat;
	background-size:100%;
}
canvas{
	z-index:-1;
}
.game_tools,.game_frame{
	background-color:rgba(248, 236, 248, 0.28);
}
.level{
	position:relative;
	height:100px;
	width:100px;
	float:left;
}
