body{	
	background-image:url("https://YutingWang.github.io/MyGame/pic/background3.jpeg");
	background-position:top;
	background-size:100% auto;
  	background-position:top left;
  	background-repeat:repeat-y;
}

table, td, tr{
	empty-cells: show;
	 border-collapse:collapse;
}
td{
	width:33px;
	height:33px;
	border-color: white;
	border-width: 1px;
	border-style: dashed;
	background-repeat:no-repeat;
	background-size:100%;
}
canvas{
	z-index: 4;
}
.game_tools,.game_frame{
	border-color: white;
	border-width: 2px;
	border-style: dashed;

	z-index: 5;
}
.level{
	position:relative;
	height: auto;
	width: 80px;
	margin-top: 10px;
}
		.back{
			position:absolute;
			left:30%;
			top:10%;
			width:539px;
			height:539px;		
		
			background-color: rgba(255, 255, 255, 0.54);
}

		.game_frame{
			position:absolute;
			left:30%;
			top:10%;
			width:539px;
			height:539px;		
			z-index: 5;
}
		.level_title{
		float:left;
		font-size:30px;
		font-color: white;
}
		.title_frame{
			position: relative;
			top: 100px;
			width: 200px;
			overflow:hidden;
		
			border: 2px solid white;
			background-color: rgba(253, 247, 247, 0.94);
}
		.level_frame{
			position:absolute;
			top: 200px;
			width:100%;
			height:400px;
			overflow:hidden;
		}


		.tool_frame{
			position:absolute;
			left:10%;
			top:40%;
			width:300px;
			height:100px;
			overflow:hidden;
			background-color:rgba(255,255,255,1);
		}

		.show_title{
			position:absolute;
			left:0%;
			top:0%;
			width:25%;
			height:100%;
		}		
		.hide_title{
			position:absolute;
			left:25%;
			top:0%;
			width:75%;
			height:100%;
		}
		audio {
			controls:"controls";
			loop:"loop";
			height:100px;
			float: left;
			width: 300px;			
		
			position: absolute;
			right: 0;
			top: -100px;
		}
		a{
			text-decoration: none;
		}
	.help{
		position:absolute;
		display:none;
		width: 200px;
		height: 200px;
		bottom: 250px;
		right: 35px;
		z-index:10;
		border: 3px dashed rgb(197, 180, 180);
		background-color: rgba(255, 255, 255, 0.91);
	}

.success{
		position:absolute;
		top: 30%;
		left: 29%;
		width: 400px;
		height: 200px;
		background-color: rgba(141, 17, 52, 0.95);
		z-index: 10;
		/* display: none; */
		border: 3px dashed rgb(252, 248, 248);
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		color: white;
		padding: 0 20px 0;
	
		z-index: 90;
		font-size: 3em;
		display:none;
	}

	@-webkit-keyframes greenPulse {
  from { background-color: rgb(140, 19, 197); -webkit-box-shadow: 0 0 9px rgb(114, 1, 167); }
  50% { background-color: rgb(177, 64, 159); -webkit-box-shadow: 0 0 18px rgb(180, 22, 155); }
  to { background-color: rgb(140, 19, 197); -webkit-box-shadow: 0 0 9px rgb(114, 1, 167); }
}

a.green.button {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
.wall-of-buttons {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
}
.green.button {
	-webkit-animation-name: greenPulse;
	-webkit-animation-duration: 3s;
	width: 200px;
	display: block;
	height: 40px;
	font-size: 1.6em;
	color: white;
	font-family: "microsoft Yahei";
	margin-top: 30px;
	text-align: center;
	border-radius: 10px;
	cursor:pointer;
}
