body{
	background-color: beige;
	
}
.container{
	width: 1200px;
	height: 800px;
	margin-left:10%;
	margin-bottom:50px;
	margin-top:0px;
}
.banner{
	width:100%;
	height:50px;
	text-align: center;
	font-family: "Microsoft YaHei";
}
.news{	
	width:100%;
	height:600px;
}
.focus_view{
	position: relative;
	width:900px;
	height:480px;
	overflow: hidden;
	bottom:0;
	float:left;
	border:15px solid white;
}
.focus_text{
	max-height:50px;	
	padding-left: 50px;
	float:left;
	bottom:0;
	
}
.show{	display: none;}
.pic{	display: none;}
.focus_slider{
	width:auto;
	height:20px;
	bottom:0;
	text-align: center;
	float: right;
	padding-right: 18%;
}
.but{
	width:50px;
	float:left;
	vertical-align: center;
	margin-right:10px;
	background-color: rgb(209, 195, 195);
	-webkit-transition:background-color 0.2s;

}
.but:hover{
	background-color: yellow;
	click();
}

ul, li{
	margin:0;
	padding:0;
}
li{
	list-style: none;
}
h3{
	font-family:"Microsoft YaHei";
	font-size: 20px;
	padding:0;
	margin:0;
}
li.pic{
	width:100%;
	height:100%;
	display:none;
}
img{
	width:100%;
}
.right{
	width:50px;
	height: 250px;
	float:left;
	padding-top: 250px;
}
.left{
	width:50px;
	height: 250px;
	float:left;
	padding-top: 250px;
}
.focus_comments{
	width:1000px;
	height: auto;
	margin-top:50px;
	margin-bottom:50px;
	background-color: white;
	font-family: "Microsoft YaHei";
	padding-bottom: 20px;
}
.commentsBanner{
	width:100%;
	height: 100px;
	background-color: white;
	overflow: hidden;
	text-align: center;
	font-size: 40px;

}
.floor{
	width: auto;
	height:100px;
	margin-top: 20px;
	display:none;
	padding-left: 50px;
	/* background-color: azure; */
}
.photo{
	width:100px;
	height:100px;
	padding:0px;
	float:left;
	overflow: hidden;
	margin-right: 30px;
}
.user{
	width: 80%;
	height:100px;
	margin:0px;
	padding:0px;
	float:left;
}
.name{
	color: blue;
	height:20px;	
}
.words{
	height:50px;
	margin-top:5px;
}
h1{
	font-family: "Microsoft YaHei";
	font-size: 30px;
}
.nextPage{
	width: 100%;
	height: auto;
	color: blue;
	font-size: 15px;
	padding: 0;
	margin: 0;
	margin-left: 80%;
	margin-bottom: 1%;
}
#previous{
	width:100px;
	padding: 0;
	float: left;
	margin: 0;
}
#next{
	width:100px;
	float: left;
}